.footerBody{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content:baseline;
    justify-content: space-between;
    border: 10px;
    font-family:  'Mulish', sans-serif;
}

.generalFooter{

    width: 100%;
    border-color: #f4f4f4;
    border-style: solid;
    border-width: 0.01rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9BABDE;
    color: rgb(4, 38, 44);
    height: 200px;
    bottom: 0;
    padding: 10px 10px 0px 10px;
}
body {
    min-height: 100vh;
}

.footerH1{
    color:#2C2E37;
}
.footerH2{
    text-decoration: underline;
    color:#2C2E37;
}