@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url("https://unicons.iconscout.com/release/v2.1.9/css/unicons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css");


.headerBody{
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    border: 10px;
    font-family:  "Mulish", sans-serif;
    height: 100px;
}

img{
    padding: 5px;
    width: 45px;
}

.Logo{
    width: 10.6rem;
    height: 6rem;
}
.generalHeader{
    width: 100%;
    left: 0;
    top:0;
    border-color: #f4f4f4;
    border-style: solid;
    border-width: 0.01rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9BABDE;
    color:#2C2E37;
    text-decoration: none;
    
  }
