@import url("https://unicons.iconscout.com/release/v2.1.9/css/unicons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css");

.Container {
    border-radius: 4%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 80%;
    height: 100%;
    border: 4px solid rgb(155, 171, 223);
}

.ContainerUpper {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20% 20% 0% 0%;
}

.UniLogo {
    width: 60px;
    height: 60px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(184, 177, 177, 0.629);
    border-radius: 100%;
}


.ContainerLower {
    background-color: #2C2E37;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

.UniTitle {
    text-align: center;
    justify-content: center;
}

.Rate {
    text-align: right;
}
